<h3>Listado de Heroes</h3>
<div *ngIf="removeHero else nothinWasDeleted">
<h3>Heroe borrado <small class="text-danger">{{removeHero}}</small></h3>
</div>

 <ng-template #nothinWasDeleted>
      <h3>No ha borrado ningun super heroe</h3>
</ng-template>

<button *ngIf="heroName.length > 0"
class="btn btn-primary"
(click)="deleteLastHero()">
  Borrar último PJ
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroName"
  class="list-group list-group-item">
    {{name}}

  </li>
</ul>
